.card{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 15px;
    border: #3889c4;
    background-color: aqua;
    cursor: pointer;
    font-size: 0;
}
.hover{
    background-color:  #3889c4;
    font-size: 20px;
}

.match{
    background-color: green;
    font-size: 20px;
}

