.card{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 15px;
    border: #3889c4;
    background-color: aqua;
    cursor: pointer;
}
.hover{
    background-color:  #3889c4;
}

.match{
    background-color: green;
}

